:root {
    /* GENERIC */
    --bms-brand-font-family: 'arial';
    --bms-brand-main-color: #003b5c;
    --bms-brand-secondary-color: #ffffff;
    --bms-brand-tri-color: #f26322;
    --bms-brand-qauaternary-color: #008fb4;
    --bms-scroll-bg: #e3e7eb;
    --bms-scroll-thumb: #44484a;
    --bms-off-color: #aeaeae;

    /* 
    MEGA MENU */
    --mega-menu-button-background-color: var(--bms-brand-main-color);
    --mega-menu-button-font-color: var(--bms-brand-main-color);
    --mega-menu-button-font-size: 12px;
    --mega-menu-button-disabled-background-color: #9e9e9e;
    --mega-menu-button-disabled-font-color: #9e9e9e;

    --mega-menu-nav-font-size: 24px;
    --mega-menu-top-nav-active-color: var(--bms-brand-main-color);
    --mega-menu-top-nav-color: var(--bms-brand-secondary-color);
    --mega-menu-top-nav-divider-color: var(--mega-menu-top-nav-color);
    --mega-menu-top-nav-active-divider-color: var(--mega-menu-top-nav-active-color);

    --mega-menu-thumbnail-font-size: 16px;
    --mega-menu-thumbnail-line-height: 'normal';

    --mega-menu-thumbnail-font-color: var(--bms-brand-secondary-color);
    --mega-menu-thumbnail-active-font-color: var(--bms-brand-main-color);

    --mega-menu-thumbnail-border-color: var(--mega-menu-thumbnail-font-color);
    --mega-menu-thumbnail-active-border-color: var(--mega-menu-thumbnail-active-font-color);


    /* ISI TRAY */




    /* TAB MENU */

}

/* ISI TRAY */
.main-container .sidebar .logo {
    background-image: url("../isiDocuments/logo.png");
}

.isi-html h3 {
    font-size: 17px;
    color: var(--bms-brand-main-color);
}


.isi-html li {
    color: var(--bms-brand-tri-color);
}

.isi-html .text {
    color: #454545;
    display: inline;
}


*::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bms-scroll-bg, #e3e7eb);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bms-scroll-thumb, #44484a);
}

*::-webkit-scrollbar-track {
    background-color: transparent;

}